.navbar-container {
    display: flex;
    justify-content: space-between;
    border: solid black 1px;
    margin: 10px;
    padding: 10px;
    background-color: black;
}

.navLinks > a {
    padding: 20px;
    color: white;
}
